<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OPTestTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OPTestTool.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OPTestTool.Properties.Settings>
            <setting name="ExcludeHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogShowTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogAutoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeLangIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseActionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseOutProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AddWifiDoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenGenCodeFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BindModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BindMoveWendow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BindMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BindDisplayMode" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="BindMouseMode" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="BindKeypadMode" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="CaptureX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureX2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CaptureY2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="GetScreenDataBmp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetColorX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GetColorY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPicX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPicY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPicX2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="FindPicY2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="FindPicDelta" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="FindPicDir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPicFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FindPicSim" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="MoveToX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MoveToY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MoveRX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MoveRY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MoveAndSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MousePreActionWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyDown" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyUp" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPress" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPressStr" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPressStrDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyPreActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendText" serializeAs="String">
                <value />
            </setting>
            <setting name="SendPreActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteAddress" serializeAs="String">
                <value />
            </setting>
        </OPTestTool.Properties.Settings>
        <OPTestTool.Properties.Settings1>
            <setting name="sss" serializeAs="String">
                <value />
            </setting>
        </OPTestTool.Properties.Settings1>
    </userSettings>
</configuration>